:root {
--cor-de-fundo: #EBECEE;
--branco: #FFFFFF;
--laranja: #eb9b00;
--azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
--fonte-principal: "Poppins";

.carrossel__titulo {
  color: var(--laranja);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}
